/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.top-bar-row{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
@media (max-width: 768px){
	.img-sm-100 .infobox-has-photo .uabb-image-content,
	.img-sm-100 .infobox-has-photo .uabb-image-content .uabb-photo-img,
	.img-sm-100 .uabb-photo-content,
	.img-sm-100 .uabb-photo-content .uabb-photo-img{
		width: 100%;
	}
}